<h1>Sign in</h1>

<% action_url = session_url %>
<% form_sub_msg = "Sign in!" %>
<%= render "layouts/form.html.erb",
    action_url: action_url,
    form_sub_msg: form_sub_msg %>
<%= link_to "Sign up", new_user_url %>