<div class="col-md-6">
  <h1 class="main_page_heading">Welcome!</h1>
</div>
<div class="col-md-4 col-md-offset-1 sign-in-link">
<a href="<%= new_user_url %>" class="btn btn-primary nav-button">
  Click Here to Begin
  <br><span style="padding-left:75px;">
      Storing Your Music
    </span></a>
</div>