<h1>Edit the track in album <%= @album.name %></h1>

<% action_url = track_url %>
<% sub_msg = "Edit the track!" %>
<%= render "tracks/form",
    action_url: action_url,
    msg: sub_msg,
    album: @album,
    track: @track,
    action: "PATCH"%>
<br>
<%= link_to "Back to album #{@album.name}", album_url(@album) %>