/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a.navbar-brand{
  font-family: 'Arvo', serif;
  font-size: 34px;
  font-color: black;
}

.collapse.navbar-collapse.navbar{
  margin-bottom:-10px;
}


ul.nav.navbar-nav{
  padding-left:50px;
  font-size: 22px;
  font-family: 'Arvo', serif;
}

.navbar{
   background-color: transparent;
   background: transparent;
}

.navbar li{ 
  color: #000 
} 
body{
  margin-top: 60px;
}

.navbar-default{
  border-color:white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color:white;
}

table.fixed{ 
  table-layout:fixed; 
}